body{
    background-color:rgb(244, 235, 236); 
}
header{
    background-color: rgb(253, 252, 251);
     position: absolute;
    
}
.work{
    text-align: left;
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
}
.tete{
    display: flex;
    gap: 600px;
    margin-left: 30px;
    background-color: rgb(244, 235, 236);
}
}
.web{
    display: flex;  
    background-color:  rgb(244, 235, 236)
    
}

.boutons{
    display: flex;
}
.btn1{
    background-color: rgb(221, 20, 20);
    border-radius: 10px;
    color: #ffff;
    padding: 20px;
    border: none;
    
}
.btn2{
   border: 2px solid red;
    border-radius: 10px;
    color: rgb(221, 20, 20);
    padding: 20px;

    
}
.salut{
    width:20px
    
}


.equipe{
    gap: 100px;
    display: flex;
    padding-bottom: 140px;
    background-color:rgb(253, 251, 251); 
}
li{
    text-decoration: none;
    list-style: none;

}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}
.photo{
    margin-left: 700px;
}
.div1{
    display: flex;
}
.p2{
    text-align: center;
    margin-left: 60%;
}
.p1{
    font-weight: bold;
    margin-left: 80%;
}
.placement{
    display: flex;
    gap: 40px;
    
}
.objet1{
   width: 300px;
   height: 300px;
   padding: 10px;
   border: 1px solid color(red);
}
.a-propos h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 70px;
}
.texte1{
    padding: 60px;
    text-align: center;
}

 
.texte1 h1{
    font-size: 42px;
    margin-bottom: 60px;
    
}
.p2{
  
   text-align:center;
}
.texte2{
    margin-left: 70%; 
    text-align: center;
}
.p3{
   margin-left: 70%;
}
.plan{
    padding-top: -50px;
    display: flex;
    margin-left: 15px;
}
.texte3{
    text-align: center;
}
.nff{
    padding-left: 100px;
    text-align: center;
}
fieldset{
    height: 300px;
    gap: 20px;
    display: flex;
    border-color: brown;
}
.contact{
    display: flex;
    gap: 40px;
}
.objet3 a{
    color: brown;
}
.objet2 a{
    color: brown;
}
.objet1 a{
    
    color: brown;
}




